{% raw %}{{< mermaid >}}{% endraw %}

%%{ init: { 'flowchart': { 'useMaxWidth': true, 'curve': 'linear' } } }%%

flowchart LR
    subgraph c1 [consumer]
        {{service.shortname}}({{service_title(service)}}):::srcClass
    end

    subgraph t1 [topics]
    {% for topic in topics(service.api.events.consumes) %}
        {{service.shortname}}_{{topic}}[{{topic}}]:::endClass
    {% endfor %}
    end

    {% for event in service.api.events.consumes %}
        {% for producer in event.producers %}
                {{producer}}({{service_title(services[producer])}}) --> |"{{event.type}}"| {{service.shortname}}_{{event.topic}}[{{event.topic}}]
        {% endfor %}
        {{service.shortname}}_{{event.topic}}[{{event.topic}}] --> |"{{event.type}}"| {{service.shortname}}
        click {{service.shortname}} "../{{ service.shortname }}"
    {% endfor %}


    subgraph p1 [producers]
        {% for event in service.api.events.consumes %}
            {% for producer in event.producers %}
                {{producer}}({{service_title(services[producer])}}):::srcClass
                click {{producer}} "../{{producer}}"
            {% endfor %}
        {% endfor %}
    end
classDef srcClass fill:#CFE7CD,color:#00393F
classDef endClass fill:#007E8C,color:#FFFFFF
{% raw %}{{</ mermaid >}}{% endraw %}
