{% if has_any_consumer(service.api.rest.produces) %}

{% raw %}{{< mermaid >}}{% endraw %}

%%{ init: { 'flowchart': { 'useMaxWidth': true, 'curve': 'linear' } } }%%
flowchart RL

    subgraph {{service.shortname}} [{{service_title(service)}}]
        {% for endpoint in service.api.rest.produces %}
            {{service.api.rest.produces.index(endpoint)}}["{{endpoint.path}}"]::::endClass
        {%endfor%}
    end
    {{service.shortname}}:::srcClass

    {% for endpoint in service.api.rest.produces %}
        {% for consumer in endpoint.consumers %}

            subgraph {{services[consumer].shortname}} [{{service_title(services[consumer])}}]
            end
            {{services[consumer].shortname}}:::srcClass
            click {{services[consumer].shortname}} "../{{services[consumer].shortname}}"

            {{services[consumer].shortname}} --->|"{{endpoint.method}}"| {{service.api.rest.produces.index(endpoint)}}
            {{service.api.rest.produces.index(endpoint)}}:::endClass
        {%endfor%}
    {% endfor %}

classDef srcClass fill:#CFE7CD,color:#00393F
classDef endClass fill:#007E8C,color:#FFFFFF
{% raw %}{{</ mermaid >}}{% endraw %}

{% endif %}
