{% set service = services[service_key] -%}
---
title: "{{ service_title(service) }}"
date: {{ cur_time() }}
draft: false
service_name: "{{ service.name }}"
---


# {{ service_title(service) }}

`{{ service.version }}`

[ghga-de/{{ service.name }}](https://github.com/ghga-de/{{ service.name }})

[ghga/{{ service.name }}](https://hub.docker.com/r/ghga/{{ service.name }})

## Summary

{{ service.summary }}

## Provided

### REST API

{% if service.api.rest.produces|length > 0 %}
This service provides a REST API with the following endpoints:

[Open in Swagger Editor](https://editor.swagger.io/?url=https://raw.githubusercontent.com/ghga-de/{{ service.name }}/{{ transform_tag(service.version) }}/openapi.yaml)

| Method | Path | Consumers |
| --- | --- | --- |
{% for endpoint in service.api.rest.produces %}| `{{ endpoint.method }}` | `{{ endpoint.path}}` | {% for consumer in endpoint.consumers %} [{{service_title(services[consumer])}}](../{{ services[consumer].shortname }})<br>{%endfor%} |
{% endfor %}

{% include "mermaid/rest_produces.md.jinja" %}

{% else %}
This service provides no REST API endpoints
{% endif %}

### Events

{% if service.api.events.produces|length > 0 %}
This service publishes the following event types through a message broker:

| Topic | Type | Consumers |
| --- | --- | --- |
{% for event in service.api.events.produces %}| `{{ event.topic }}` | `{{ event.type }}` | {% for consumer in event.consumers %} [{{ service_title(services[consumer]) }}](../{{ services[consumer].shortname }})<br>{%endfor%} |
{% endfor %}

{% include "mermaid/event_produces.md.jinja" %}

{% else %}
This service publishes no events through a message broker
{% endif %}

## Consumed

### REST API

{% if service.api.rest.consumes|length > 0 %}
This service relies on the following REST endpoints:

| Service | Method | Path |
| --- | --- | --- |
{% for endpoint in service.api.rest.consumes %}| `{{ endpoint.service }}` | `{{ endpoint.path}}` | `{{ endpoint.method }}` |
{% endfor %}

{% include "mermaid/rest_consumes.md.jinja" %}

{% else %}
This service not relies on any REST endpoints
{% endif %}

### Events

{% if service.api.events.consumes|length > 0 %}
This service consumes the following events through the message broker:

| Topic | Type | Producers |
| --- | --- | --- |
{% for event in service.api.events.consumes %}| `{{ event.topic }}` | `{{ event.type }}` | {% for producer in event.producers %} [{{ service_title(services[producer]) }}](../{{ services[producer].shortname }})<br>{%endfor%} |
{% endfor %}

{% include "mermaid/event_consumes.md.jinja" %}

{% else %}
This service consumes no events through the message broker
{% endif %}

## Configuration

The service can be configured using the following configuration variables:

| Name | Description |
| --- | --- |
{% for config in service.config %}| `{{ config.name }}` | {{ config.description }} |
{% endfor %}
